html, body {
  min-height: 100%;
}

:disabled {
  background: darkslategray;
  color: slategray;
}

body {
  font-family: sans-serif;
  color: darkslategray;
  margin: 0;
  background: lightsteelblue;
}

/* Navigation bar */
.nav-bar {
    list-style-type: none;
    margin: -.7%;
    width: 25%;
    background-color: lightsteelblue;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav-tab {
    display: block;
    padding: 5% 8%;
    text-decoration: none;
    background: cornflowerblue;
    text-align: justify;
    color: lightcyan;
    font-size: larger;
    font-weight: bold;
    margin: 3%;
}

.nav-tab.active {
    background-color: honeydew;
    color: darkslategray;
}

.nav-tab:hover:not(.active) {
    background-color: darkslategray;
    color: white;
}

.tele-tab {
    display: block;
    padding: 4% 8%;
    text-decoration: none;
    text-align: justify;
    color: darkslategray;
    font-weight: bold;
    margin: 3%;
    font-size: xx-large;
}

/* Footer */
.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkslategray;
   color: lightcyan;
   text-align: center;
}

.footer-txt {
    color: lightcyan;
}

/* Formula page */
.formulas_box {
     margin: 3% 4% 3% 29%;
    padding:2% 6%;
    border-radius: 1em;
    background: cornflowerblue;
    color: lightcyan;
}

.form {
    padding: 1% 5%;
}

.rb-formula{
    padding: 5% 0;
}

/* Submit Button */
.button-box {
  text-align: center;
}

button {
  display: inline-block;
  width: 80%;
  margin-top: 1.2em;
  padding: 1em;
  max-width: 220px;
  font-size: .9em;
  color: darkslategray;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  background: papayawhip;
  border: none;
  outline: none;
  border-radius: 5em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition:
    color 0.6s,
    box-shadow 0.3s,
    transform 0.3s,
    background 0.5s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  color: darkslategray;
  background: lightsteelblue;
}

.noHover{
    pointer-events: none;
}

.progress-box {
    width: 100%;
    background-color: slategray;
    margin: 5% 0;
}

.progress-bar {
    width: 1%;
    height: 30px;
    background-color: honeydew;
}

/* Results box */
.res-box {
    background: honeydew;
    width: 80%;
    color: darkslategray;
    max-width: 1200px;
    min-width: 1000px;
    margin: 50px -2.5%;
    padding: 1% 5% 2%;
    border-radius: .75em;
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
    box-shadow: 0 2px 2px slategray, 0 0px 5px darkslategray,
    0 0px 4px black, 0 5px 20px slategray, 0 15px 50px slategray;
}

.res-spot {
    position: relative;
    text-align: center;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid darkslategray;
    padding: 1%;
    margin: 1% 5%;
}

.res-tab {
  display: inline-block;
  position: relative;
}

.res-txt {
  position: relative;
  top: 5px;
  font-size: large;
  color: darkslategray;
}

/* About page */
.about-box {
    margin: 3% 4% 3% 29%;
    padding:2% 6%;
    border-radius: 7em;
    background: honeydew;
    /*background: papayawhip;*/
}

.about-txt {
    color: darkslategray;
}

.about-txt:hover {
    color: slategray;
}

/* Home page */
.home-box {
     margin: 3% 4% 3% 29%;
    padding:2% 6%;
    border-radius: 1em;
    background: cornflowerblue;
    color: lightcyan;
}

