<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telefunken about</title>

    <link rel="stylesheet" href="../static/css/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../static/js/index.js"></script>
</head>
<body>

<ul id="nav_bar" class="nav-bar">
    <li id="tele-tab" class="tele-tab">Telefunken</li>
  <li id="home"><a class="nav-tab" href="/">Home</a></li>
  <li id="formulas"><a class="nav-tab" href="/formulas">Formulas</a></li>
  <li id="about"><a class="nav-tab active" href="#">About</a></li>
</ul>

<div id="about_authors" class="about-box">
    <h2><a class="about-txt" href="https://arxiv.org/abs/1710.03953" target="_blank">
        One-step Estimation of Networked Population Size: Respondent-Driven Capture-Recapture with Anonymity</a></h2>
    <h3><a class="about-txt" href="http://www.systemic-inquiry.com/" target="_blank">Bilal Khan</a>,
        <a class="about-txt" href="https://soc.unl.edu/lee" target="_blank">Hsuan-Wei Lee</a>,
        <a class="about-txt" href="http://www.fellstat.com/" target="_blank">Ian Fellows</a>,
        <a class="about-txt" href="https://soc.unl.edu/kirk-dombrowski" target="_blank">Kirk Dombrowski</a></h3>
    <p>
        Population size estimates for hidden and hard-to-reach populations are particularly important
        when members are known to suffer from disproportion health issues or to pose health risks to
        the larger ambient population in which they are embedded. Efforts to derive size estimates are
        often frustrated by a range of factors that preclude conventional survey strategies, including
        social stigma associated with group membership or members' involvement in illegal activities.
This paper extends prior research on the problem of network population size estimation, building on
        established survey/sampling methodologies commonly used with hard-to-reach groups. Three novel
        one-step, network-based population size estimators are presented, to be used in the context of
        uniform random sampling, respondent-driven sampling, and when networks exhibit significant
        clustering effects. Provably sufficient conditions for the consistency of these estimators
        (in large configuration networks) are given. Simulation experiments across a wide range of
        synthetic network topologies validate the performance of the estimators, which are seen to
        perform well on a real-world location-based social networking data set with significant clustering.
        Finally, the proposed schemes are extended to allow them to be used in settings where participant
        anonymity is required. Systematic experiments show favorable tradeoffs between anonymity guarantees
        and estimator performance.
Taken together, we demonstrate that reasonable population estimates can be derived from anonymous
        respondent driven samples of 250-750 individuals, within ambient populations of 5,000-40,000.
        The method thus represents a novel and cost-effective means for health planners and those
        agencies concerned with health and disease surveillance to estimate the size of hidden populations.
        Limitations and future work are discussed in the concluding section.
    </p>
</div>

<div id="about_dev" class="about-box">
    <h2>Website developer</h2>
    <h3><a class="about-txt" href="https://github.com/dataOtter" target="_blank">Maisha Jauernig</a></h3>
</div>

<footer class="footer">
  <p>Website developed by Maisha Jauernig
      <a class="footer-txt" href="mailto:mjauernig@unl.edu">mjauernig@unl.edu</a>
      - find me on <a class="footer-txt" href="https://github.com/dataOtter">Github</a></p>
</footer>

</body>
</html>