<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="../static/css/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../static/js/index.js"></script>
</head>

<body>

<ul id="nav_bar" class="nav-bar">
    <li id="tele-tab" class="tele-tab">Telefunken PSE</li>
  <li id="home-tb"><a class="nav-tab active" href="#">Home</a></li>
  <li id="formulas-tb"><a class="nav-tab" href="/formulas">Estimators</a></li>
  <li id="about-tb"><a class="nav-tab" href="/about">About</a></li>
</ul>

<div id="home" class="home-box">
    <p>This website provides tools to generate population size estimates from <a class="about-txt"
           href="http://www.respondentdrivensampling.org" target="_blank">RDS</a> and uniform random samples.
        The software accepts an augmented RDSAT file format as input.  The original RDSAT file format is described
        <a class="about-txt" href="http://www.respondentdrivensampling.org/reports/RDSAT_7.1-Manual_2012-11-25.pdf"
           target="_blank">here</a>.
    </p>

    <img src="../static/original.jpg" alt="Original RDSAT file format" class="image">

    <p> This format is extended as follows:</p>

    <img src="../static/mod3.png" alt="Extended RDSAT file format" class="image">

</div>

<footer class="footer">
  <p>Website developed by Maisha Jauernig
      <a class="footer-txt" href="mailto:mjauernig@unl.edu">mjauernig@unl.edu</a>
      - find me on <a class="footer-txt" href="https://github.com/dataOtter">Github</a></p>
</footer>

</body>
</html>